<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.dynamicfeatureinstalltime"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module
        dist:instant="false"
        dist:title="@string/text_install_time_delivery">
        <dist:delivery>
            <dist:install-time>
                <dist:removable dist:value="true" />
            </dist:install-time>
        </dist:delivery>
        <dist:fusing dist:include="true" />
    </dist:module>
    <application>
        <activity
            android:name=".InstallTimeDeliveryActivity"
            android:exported="true"
            android:label="Install Time Delivery" />
    </application>
</manifest>